.shopBgImage {
    background-image: url('../../assets/shopBgImage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: relative;
}

.shopBgImage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(24, 23, 23, 0.5);
    z-index: 1;
}

.shopText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    z-index: 2;
}
.shopText h1 {
    font-weight: bold;
    color: #ffff;
}
.shopText p {
    color: #ffff;
    font-weight: 600;
}
.shopText span {
    color: red;
}