.Navbar{
  width: 100vw;
  position: absolute;
  top: 0;
}
.Navbar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.012;
  position: relative;
}
.navbarimage{
  height: 13vh;
  position: relative;
  width: 100%;
}
.navbarflexbox{
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: -6%;
  width: 100vw;
}
.navbarflexbox p{
  color: white;
  font-size: 15px;
}
.navbarflexbox p:hover{
  color: rgb(238, 238, 0);
  cursor: pointer;
}
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}
.logo img{
  width: 3vh;
  height: 3vh;
}
.followus{
  padding-left: 3vw;
}
.mainnavbar {
  width: 100vw;
  min-height: 10vh;
  position: absolute; 
  transition: all 0.3s ease-in-out;
}

.sticky {
  position: fixed; 
  top: 0;
  width: 100vw;
  background-color: white; 
  z-index: 1000;
}



.mainnavbar img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.navbarmainsecondpart{
  position: absolute;
  top: 0;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}
.navbarmainsecondpart .logo{
  padding-left: 8vw;
}
.logoLinks{
  gap: 30px;
}
.logoLinks p{
  text-transform: uppercase;
  font-weight: 600;
}
.button{
  padding-right: 3vw;
}
.orderbutton{
  background-color: #eb0027;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  font-size: 1.2vw;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1vw 1vw 1vw 1vw;
  border-radius: 13px;
}